nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a:hover, a.active {
        font-weight: bold;
    }

     a.active {
        border-color: #e67702;
    }

    a {
        display: flex;
        color: #e67702;
        text-decoration: none;
        padding: 2ch;
        margin: 1ch;
        margin-right: -1ch;
        margin-bottom: 3ch;
        border-bottom: 4px solid transparent;
        transform: rotateZ(-90deg);
    }

    @media screen and (max-width: 600px) {
        & { display: none; }
    }
}
